**/target
/Cargo.lock
logs.txt
/AppCore.dll
/Ultralight.dll
/UltralightCore.dll
/WebCore.dll
/resources/cacert.pem
/resources/icudt67l.dat
/ultralight-deps
/libWebCore.so
/libAppCore.so
/libUltralight.so
/libUltralightCore.so
cacert.pem
icudt67l.dat
